<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon style="color: white;" slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
     
    </ion-buttons>
 
    
    <ion-title class="tittle">About </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="displayBox">
      <div class="displayBox-item">

          <p >
            ConnectNPO is a mobile app that aims to address the challenges faced by Non-Profit Organizations (NPOs) in connecting with volunteers and donors. 
            The app provides a platform where NPOs can register and post their volunteer opportunities and funding needs, while volunteers and donors can search for and connect with NPOs that align with their interests and values.
          </p>

          <p>
            The idea for ConnectNPO arose from the observation that many NPOs struggle to find and retain volunteers and donors, 
            while potential volunteers and donors often have difficulty finding organizations that match their interests and preferences. 
            Through ConnectNPO, the hope is to make it easier for NPOs to connect with a pool of potential volunteers and donors, and for individuals to find meaningful opportunities to contribute to causes they care about.
           </p>

          <p>
            To arrive at the current position of requiring a project, the developers of ConnectNPO likely conducted research into the needs and challenges faced by NPOs and potential volunteers and donors, as well as the existing landscape of mobile apps and platforms in this space.
             They likely also conducted user testing and gathered feedback from stakeholders to refine the app's features and functionality. The project may involve further development and refinement of the app, as well as marketing and outreach efforts to encourage adoption and engagement among NPOs, volunteers, and donors.

          </p>

      </div>
  </div>
</ion-content>
