
ion-content {
    --ion-background-color: #F5F5F5;
    --border: 1px solid black;
  }
  ion-header {
    --ion-background-color: black;
  }
  ion-toolbar{
    --ion-toolbar-background: white;
    height: 50px;
  }
  
  
  .Donate{
    width: 120px;
    height: 49px;
    background-color: skyblue; 
    border-radius: 16px;
    border: 1px solid #000000;
    font-size: 24px;
    font-weight: 400;
   }
    .tittle{
      
      text-align: center;
       color:black;
       font-weight: 260;
      font-size: 20px;
       padding-top: 10px;
  
    }
    .custom-input {
      font-size: 12px;
    }
    ion-item{
      font-size: 17px;
    }
  
  
  .container{
  
    width:100vw;
    height: 100vh;
    text-align: center;
  }
  p{
    text-align: center;
  
  }
  .center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
    