<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon style="color:black" slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="tittle"> BANK DETAILS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <form [formGroup]="Activity">
      <ion-item >
        <ion-input  placeholder="Bank name " type="text" [(ngModel)]='act.actName' formControlName="actName"></ion-input>
    
        <div>
        <ng-container  *ngIf="Activity?.get('actName')?.hasError('required') && (Activity?.get('actName')?.touched || Activity?.get('actName')?.dirty )" lines="none" color="danger" >
          <ion-label   style="color: red; font-size: 13px;" > <ion-icon name="alert-circle"></ion-icon>Required</ion-label>
        </ng-container>
       </div>
      </ion-item>
      <ion-item>
        <ion-input  placeholder="Account number" type="text" [(ngModel)]='act.actDetails' formControlName="actDetails"></ion-input>
    
        <div>
        <ng-container  *ngIf="Activity?.get('actDetails')?.hasError('required') && (Activity?.get('actDetails')?.touched || Activity?.get('actDetails')?.dirty )" lines="none" color="danger" >
          <ion-label   style="color: red; font-size: 13px;" > <ion-icon name="alert-circle"></ion-icon>Required</ion-label>
        </ng-container>
       </div>
      </ion-item>
    
      <br>
      <br>
      <br>
      <br>
      <br>
        
      <button  class="Donate" (click)="editTask()" [disabled]="Activity.invalid ">Submit</button>
    
    </form>
  </div>
</ion-content>
