<ion-header >
  <ion-toolbar >
    <ion-title class="tittle">LOGIN</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/admin']">
       
        <ion-icon name="person"></ion-icon>
        Admin
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div class="container">
    <div class="admin">
    </div>
    
    <img src="assets/user.png" alt="User-Logo">

  <form action="" [formGroup]="signUp">
<ion-list>

  <ion-item>
    <ion-icon name="mail-outline"></ion-icon>
    <ion-input placeholder="Email" type="text" [(ngModel)]='user.username' formControlName="email" ></ion-input>

    <div>
      <ng-container  *ngIf="signUp?.get('email')?.hasError('email') && (signUp?.get('email')?.touched || signUp?.get('email')?.dirty )" lines="none" color="danger" >
        <ion-label   style="color: red; font-size: 13px;" > <ion-icon name="alert-circle"></ion-icon>example@gmail.com</ion-label>
      </ng-container>
     </div>
     <div>
      <ng-container  *ngIf="signUp?.get('email')?.hasError('required') && (signUp?.get('email')?.touched || signUp?.get('email')?.dirty )" lines="none" color="danger" >
        <ion-label   style="color: red; font-size: 13px;" > <ion-icon name="alert-circle"></ion-icon>Required</ion-label>
      </ng-container>
     </div>
  </ion-item>


  <ion-item>
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-input placeholder="Password" type="password" [(ngModel)]='user.password' formControlName="password" ></ion-input>
    <div>
      <ng-container  *ngIf="signUp?.get('password')?.hasError('required') && (signUp?.get('password')?.touched || signUp?.get('password')?.dirty )" lines="none" color="danger" >
        <ion-label   style="color: red; font-size: 13px;" > <ion-icon name="alert-circle"></ion-icon>Required</ion-label>
      </ng-container>
     </div>

  </ion-item>
  </ion-list>
    <br>
    <ion-button  (click)="login(user)" [disabled]="signUp.invalid" class="login-button">
      LOGIN
    </ion-button>

    <br>
    <ion-row>
      <ion-col size="12" class="line-col">
        <div class="line"></div>
        <div class="or-text">OR</div>
        <div class="line"></div>
      </ion-col>
    </ion-row>


    <ion-button [routerLink]="['/signup-npo']" class="create-account-button">
      Create new account
    </ion-button>

    <br>
  
    <p style="text-align: left; color:black;">
      Forgot your password ? 
      <a style="color:  cornflowerblue;" [routerLink]="['/reset-password']">Reset Now</a>
    </p>

    <br>
    <br>
    <br>
    <ion-footer>
      <p>Developed by Tech Genius</p>
    </ion-footer>
</form>
</div>
</ion-content>
